@use "../../scss/breakpoints" as *;

.movie-list {
  .movie-list-slider {
    width: 15%;

    @include tablet {
      width: 30%;
    }

    @include mobile {
      width: 40%;
    }
  }
  img {
    width: 100%;
  }
}
.similar-list {
  margin: 2rem 0;
  padding: 0rem 6rem;
  @include tablet {
    padding: 0rem 4rem;
  }
  @include mobile {
    padding: 0rem 1rem;
  }
}
